<div ng-controller="EditController">
    <form name="form">
        <h1>Muokkaa elokuvaa "{{movie.title}}"</h1>
        <div class="form-group">
            <label for="title">Nimi</label>
            <input type="text" placeholder="Nimi" ng-model="movie.title" ng-required="true" class="form-control" id="title" >
        </div>
        <div class="form-group">
            <label for="director">Ohjaaja</label>
            <input type="text" id="director" placeholder="Ohjaaja" ng-model="movie.director" ng-required="true" class="form-control" >
        </div>
        <div class="form-group">
            <label for="date">Julkaisuvuosi</label>
            <input type="date" id="date" placeholder="Julkaisuvuosi" ng-model="movie.date" ng-required="true" class="form-control" >
        </div>
        <div class="form-group">
            <label for="description">Kuvaus</label>
            <input type="textfield" id="description" placeholder="Kuvau" ng-model="movie.description" ng-required="true" class="form-control" >
        </div>
        <button ng-click="save" ng-disabled="form.$invalid" class="btn btn-primary">Tallenna</button>
    </form>
</div>