<div ng-controller="UserController">
    <form name="form">
        <h1>Kirjaudu sisään</h1>
        <div class="form-group">
            <label for="email">Sähköpostiosoite</label>
            <input type="text" id="email" placeholder="Email" ng-model="email" ng-required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Salasana</label>
            <input type="text" id="password" placeholder="Salasana" ng-model="password" ng-required="true" class="form-control" >
        </div>
        <button ng-click="save" ng-disabled="form.$invalid" class="btn btn-primary">Tallenna</button>
    </form>
    
    <form name="form">
        <h1>Rekisteröidy</h1>
        <div class="form-group">
            <label for="email">Sähköpostiosoite</label>
            <input type="text" id="email" placeholder="Email" ng-model="newEmail" ng-required="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Salasana</label>
            <input type="text" id="password" placeholder="Salasana" ng-model="newPassword" ng-required="true" class="form-control" >
        </div>
        <button ng-click="save" ng-disabled="form.$invalid" class="btn btn-primary">Tallenna</button>
    </form>
</div>